[Desktop Entry]
Encoding=UTF-8
Name=JupyterNotebook
Comment=JupyterNotebook
Exec=/home/osboxes/.JupyterNotebook.sh
Icon=ipython-symbolic
StartupNotify=true
Terminal=false
Type=Application
Categories=Education;
Name[en_US]=JupyterNotebook
Comment[en_US]=JupyterNotebook
