[Desktop Entry]
Encoding=UTF-8
Name=JupyterLab
Comment=JupyterLab
Exec=/home/osboxes/git/UbuntuBang/JupyterLab.sh
Icon=ipython-symbolic
StartupNotify=true
Terminal=false
Type=Application
Categories=Education;
Name[en_US]=JupyterLab
Comment[en_US]=JupyterLab
