<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="터미널 [W-t]">
			<action name="Execute">
				<execute>x-terminal-emulator</execute>
			</action>
		</item>
		<item label="탐색기 [W-e]">
			<action name="Execute">
				<execute>pcmanfm</execute>
			</action>
		</item>
		<item label="브라우저 [W-w]">
			<action name="Execute">
				<execute>x-www-browser</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'openbox-menu' package to work -->
		<item label="Rofi [W-r]">
			<action name="Execute">
				<execute>rofi -show drun</execute>
			</action>
		</item>
		<menu id="/Debian"/>
		<separator/>
		<menu execute="openbox-menu lxde-applications.menu -i" id="applications-menu" label="Applications"/>
		<separator/>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
