[Desktop Entry]
Encoding=UTF-8
Name=Netgen
Comment=Netgen
Exec=netgen
Icon=/home/osboxes/git/UbuntuBang/Netgen.png
Terminal=false
Type=Application
Categories=Education;
