[Desktop Entry]
Encoding=UTF-8
Name=Spyder
Comment=Spyder in Python3
Exec=/home/osboxes/git/UbuntuBang/Spyder.sh
Icon=/home/osboxes/.pyenv/versions/anaconda3-2020.02/share/icons/spyder3.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Education;
Name[en_US]=Spyder
Comment[en_US]=Spyder in Python3
