[Desktop Entry]
Name=V-REP
GenericName=V-REP
Exec=/home/osboxes/.V-REP_PRO/vrep.sh
Icon=steam-icon
Terminal=false
Type=Application
Categories=Education;
